<div id="product_details" class='span8 well'>
  <div class="product-header">
    <%= image_tag(@product.artwork_url_60) %>
    <h2><%= @product.track_name %></h2>
    <div style='clear:both'></div>
  </div>
  
  <h3>Description</h3>
  <p><%=raw sanitize(simple_format(@product.description), :tags => %w(br p) ) %></p>
  
  <h3>Screenshots</h3>
  <p></p>
  <div id="screenshots" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% unless @product.screenshot_urls.nil? || test? %>
        <% @product.screenshot_urls.each_with_index do |shot_url, i| %>
          <div class=<%= i == 0 ? "'active item'" : "'item'" %>>
            <%= image_tag(shot_url) %>
          </div>        
        <% end %>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#screenshots" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#screenshots" data-slide="next">&rsaquo;</a>
  </div>
</div>
