<p id="notice"><%= notice %></p>

<p>
  <b>Track name:</b>
  <%= @product.track_name %>
</p>

<p>
  <b>Track name:</b>
  <%= @product.artwork_url_60 %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
